body {
    background-color: #123;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1 {
    position: relative;
    text-align: center;
}
#canvas-container {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
canvas {
    background-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    cursor: crosshair;
}

#colourcontainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.box {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 4px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 5px;
}

.black {
    background-color: black;
}
.red {
    background-color: rgb(255,0,0);
}
.green {
    background-color: rgb(0, 255, 0);
}
.blue {
    background-color: rgb(0,0,255);
}
.yellow {
    background-color: rgb(255,255,0);
}
.turquoise {
    background-color: rgb(0, 255, 255);
}
.purple {
    background-color: rgb(255,0,255);
}

.selected {
   border-color: white;
}

.upvote-button {
    background:transparent;
    border-style: none;
    color:white;
    width:30px;
    height:30px;

}

.upvoted {
    color:#0AF;
}

nav {
    background-color: #346;
    padding: 5px;
    margin:0;
}
ul {
    margin:0;
    padding:2px;
}
li {
    margin:0;
    display: inline;
    text-decoration: none;
}
li#username {
    float: right;
}
li a {
    color: #eee;
}