<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       
        {% block header %}
        {% endblock %}
    </head>
    <nav class="navbar">
        <ul>
            <li><a href="/">SEGI</a></li>
            {% if current_user.is_authenticated %}
            <li id="username">{{ current_user.username }}</li>
            {% else %}
            <li><a href="/register">register</a></li>
            <li><a href="/login">login</a></li>
            {% endif %}
            <li id="userlogin"></li>
            
            
        </ul>
    </nav>
        {% block content %}
        {% endblock %}
</html>