{% extends "base.html" %}
{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script>
    var socket = io();
    socket.on("connect", function() {
        socket.emit("join", {"room": "{{ canvasid }}"});
    } );
</script>
{% endblock %}
{% block content %}
<body oncontextmenu="event.preventDefault();">
    <h1>canvas #{{ canvasid }}</h1><button class="material-icons upvote-button" id="upvote-button" onclick="upvote()">keyboard_arrow_up</button><span id="upvote-count">{{ upvotenumber }}</span>
<div id="canvas-container">
    <canvas id="pixelcanvas" width="512" height="512"></canvas>
    
</div>
<div id="colourcontainer">
    <div class="box black selected" width="32" height="32" onclick="selectColour('black')"></div>
    <div class="box red" width="32" height="32" onclick="selectColour('red')"></div>
    <div class="box green" width="32" height="32" onclick="selectColour('green')"></div>
    <div class="box blue" width="32" height="32"  onclick="selectColour('blue')"></div>
    <div class="box yellow" width="32" height="32" onclick="selectColour('yellow')"></div>
    <div class="box turquoise" width="32" height="32" onclick="selectColour('turquoise')"></div>
    <div class="box purple" width="32" height="32"  onclick="selectColour('purple')"></div>
</div>

<script src="{{ url_for('static', filename='segicanvas.js') }}"></script>
<script>
        // Automatically load the canvas upon loading this script
        if ('{{ canvasstring }}' != ''){
            parseCanvasString('{{ canvasstring }}');
        } else {
            ctx.fillStyle = "rgba(255,255,255,255)";
            ctx.fillRect(0, 0, 512, 512);
        }

        if ({{ upvoted }}) {
            upvoted = true;
            document.getElementById("upvote-button").classList.add("upvoted");
        }
        
</script>
</body>
<p hidden id="canvasid">{{ canvasid }}</p>
{% endblock %}